@model CharacterSheetDnD.ViewModels.WeaponViewModel

@{
    ViewData["Title"] = "Select Weapon";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4 mb-3">Select a Weapon</h1>
    <div class="d-flex flex-column align-items-center">
        <table class="table w-50">
            <thead>
                <tr>
                    <th>Weapon Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Weapons != null && Model.Weapons.Any())
                {  @foreach (var weapon in Model.Weapons)
                    {
                        <tr>
                            <td>
                                <strong>@weapon.WeaponName</strong>
                            </td>
                            <td>
                                <!-- Edit -->
                                <a asp-area="" asp-controller="MyCharacter" asp-action="DisplaySelectedWeapon" class="btn btn-success" asp-route-id="@weapon.CharacterID">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><g fill="white" fill-rule="evenodd" clip-rule="evenodd"><path d="M16.418 1.209a2 2 0 0 1 2.333 2.325l-.474 2.601a2 2 0 0 1-.551 1.053l-6.394 6.418a2 2 0 0 1-2.828.005l-2.126-2.117a2 2 0 0 1-.005-2.829l6.394-6.418a2 2 0 0 1 1.05-.554zm-.109 4.567l.475-2.601l-2.6.484l-6.394 6.418l2.125 2.117z" /><path d="M7.97 12.021a.75.75 0 0 1-.002-1.06l3.53-3.543a.75.75 0 1 1 1.062 1.059l-3.529 3.542a.75.75 0 0 1-1.06.002" /><path d="M3.192 9.025a2.5 2.5 0 0 1 3.535-.007l4.25 4.235a2.5 2.5 0 1 1-3.528 3.542l-4.25-4.235a2.5 2.5 0 0 1-.007-3.535m2.124 1.41a.5.5 0 0 0-.706.708l4.25 4.235a.5.5 0 1 0 .706-.708z" /><path d="M5.71 13.646L2.889 16.48l.708.706l2.823-2.834l1.417 1.412l-2.823 2.833a2 2 0 0 1-2.829.006l-.708-.706a2 2 0 0 1-.005-2.829l2.823-2.833z" /></g></svg>
                                </a>
                            </td>
                            <td>
                                <!-- Delete -->
                                <a href="javascript:void(0);" class="btn btn-danger" onclick="confirmDelete('@weapon.WeaponID', '@weapon.CharacterID', '@(weapon.WeaponName != null ? weapon.WeaponName.Replace("'", "\\'") : string.Empty)')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                        <path fill="white" d="M8 22L5 8l3-6h8l3 6l-3 14zm3-16v2H9v2h2v5h2v-5h2V8h-2V6z" />
                                    </svg>
                                </a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <p>No Weapons found.</p>
                }

            </tbody>
        </table>
    </div>

</div>

<script>
    function confirmDelete(weaponId, characterId, weaponName) {
        var confirmResult = confirm("Are you sure you want to delete the weapon: " + weaponName + "?");
        if (confirmResult) {
            // If OK is clicked, redirect to the delete action
            var deleteUrl = '@Url.Action("DeleteWeapon", "Weapon")' + '?weaponId=' + weaponId + '&characterId=' + characterId;
            window.location.href = deleteUrl;
        }
    }
</script>






