@model CharacterSheetDnD.ViewModels.MyCharacterViewModel


@{
	ViewData["Title"] = "My Character";
}

<div id="loadingScreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; z-index: 99; display: flex; justify-content: center; align-items: center;">
	<div style="text-align: center;">
		<p>Loading your character...</p>
		<img src="~/images/dice-d20.png" alt="Loading..." class="spinner">
	</div>
</div>



<!-- TITLE -->
<div style="display:none;" id="characterContent">
	<!-- Name - Race - Class - Level-->
	<div class="text-center mb-4">
		<h3>
			@Model.Name -
			@Model.Race -
			@foreach (var characterClass in Model.CharacterClasses)
			{
				<text>@characterClass.Class Level @characterClass.Level</text>
			}
		</h3>
	</div>
</div>

<!--
<form asp-controller="UpdateStatistic" asp-action="UpdateStrength" asp-route-id="@Model.CharacterID" method="post">
@Html.AntiForgeryToken()
	<input type="hidden" name="id" value="@Model.CharacterID" />
	<div class="modal-body">
		<label for="Strength" class="form-label mt-3">Strength</label>
		<input id="Strength" name="strength" class="form-control mb-3" type="number" value="@Model.Strength" />
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Update Strength</button>
	</div>
</form>

<form asp-controller="UpdateStatistic" asp-action="UpdateDexterity" asp-route-id="@Model.CharacterID" method="post">
@Html.AntiForgeryToken()
	<div class="modal-body">
		<input type="hidden" name="id" value="@Model.CharacterID" />
		<label for="Strength" class="form-label mt-3">Dexterity</label>
		<input id="Dexterity" name="Dexterity" class="form-control mb-3" type="number" value="@Model.Dexterity" />
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary">Update Dexterity</button>
	</div>
</form>
-->
<!-- MAIN INFORMATION -->
<div class="row">
	<!-- Hit Points -->
	<div class="col-md-4 text-center">
		<p class="text-uppercase mb-0">Current Hit Points</p>
		<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
		<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#HitPointsModal">@Model.MaximumHitPoints</button>
		<!-- Modal -->
		<div class="modal fade" id="HitPointsModal" tabindex="-1" aria-labelledby="HitPointsModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="HitPointsModalLabel">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Update Hit Points
					</div>
					<form asp-controller="UpdateStatistic" asp-action="UpdateStrength" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
						<input type="hidden" name="id" value="@Model.CharacterID" />
						<div class="modal-body">
							<label for="Strength" class="form-label mt-3">Strength</label>
							<input id="Strength" name="strength" class="form-control mb-3" type="number" value="@Model.Strength" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Update Strength</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Armor class-->
	<div class="col-md-4 text-center">
		<p class="text-uppercase mb-0">Armor Class</p>
		<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M12 2L4 5v6.09c0 5.05 3.41 9.76 8 10.91c4.59-1.15 8-5.86 8-10.91V5zm6 9.09c0 4-2.55 7.7-6 8.83c-3.45-1.13-6-4.82-6-8.83v-4.7l6-2.25l6 2.25z" /></svg>
		<button class="btn btn-secondary fs-3 fw-bold mb-3 ms-2" data-bs-toggle=" modal" data-bs-target="#exampleModal" ">@Model.Dexterity</button>
	</div>

	<!-- Initiative -->
	<div class="col-md-4 text-center">
		<p class="text-uppercase mb-0">Initiative</p>
		<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512"><path fill="black" d="M447.1 86.2C400.3 33.4 332.2 0 256 0C114.6 0 0 114.6 0 256h64c0-106.1 85.9-192 192-192c58.5 0 110.4 26.5 145.5 67.8L341.3 192H512V21.3zM256 448c-58.5 0-110.4-26.5-145.5-67.8l60.2-60.2H0v170.7l64.9-64.9c46.8 52.8 115 86.2 191.1 86.2c141.4 0 256-114.6 256-256h-64c0 106.1-85.9 192-192 192" /></svg>
		<button class="btn btn-secondary fs-3 fw-bold mb-3 ms-2" data-bs-toggle=" modal" data-bs-target="#exampleModal" ">@Model.Dexterity</button>
	</div>
</div>

<div class="row">
	<!-- Speed-->
	<div class="col-md-6 text-center">
		<p class="text-uppercase mb-0">Speed</p>
		<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 512 512"><path fill="black" d="M272.5 18.906c-12.775.17-26.23 2.553-40.344 7.594c-30.165 55.31-68.313 120.904-125.72 178.5c-21.19 21.26-39.23 44.94-52.28 68.313c1.294 6.312 4.984 11.65 10.72 17.406c10.992 11.032 30.86 21.618 54.593 33.25c46.313 22.695 107.284 50.39 146.374 108.467l195.625.032c-20.198-70.834-100.276-101.12-159.064-83.94c-.073.03-.145.066-.22.095c-1.61.633-3.27 1.138-4.967 1.563c-.024.005-.04.025-.064.03c-8.86 2.204-18.82 1.68-29.125-.406c-24.79-5.02-52.76-19.695-61.342-45.687c-28.615-86.673 16.65-179.742 78.156-223.28c23.064-16.328 49.06-25.848 74.47-24.47c.144.008.29.023.436.03c-24.19-22.74-53.33-37.95-87.25-37.5zm81.75 56c-19.213.01-39.414 7.59-58.625 21.188c-54.644 38.682-96.652 125.024-71.188 202.156c5.127 15.53 27.25 29.162 47.282 33.22c10.015 2.027 19.218 1.518 23.717-.283c2.25-.9 3.173-1.84 3.594-2.562c.422-.72.81-1.663.25-4.375c-9.08-44.167-2.743-84.61 22.533-114.47c23.586-27.863 62.753-45.462 117.406-50.686c-15.014-47.145-37.47-71.226-61.314-80.03c-6.407-2.368-13.032-3.706-19.812-4.064a73.352 73.352 0 0 0-3.844-.094zM43.78 294.22c-5.405 12.554-9.136 24.756-10.905 36.186c7.178 27.76 51.898 55.43 91.094 61.344c1.703-5.973 5.832-11.475 10.28-14.25c51.01 28.844 86.18 60.704 102 101h229.594c.697-9.613.44-18.712-.625-27.344l-204.314-.03h-5.125l-2.75-4.345c-35.405-55.575-93.93-82.58-141.78-106.03c-23.925-11.724-45.17-22.336-59.625-36.844c-2.978-2.99-5.618-6.225-7.844-9.687" /></svg>
		<button class="btn btn-secondary fs-3 fw-bold mb-3 ms-2" data-bs-toggle=" modal" data-bs-target="#exampleModal" ">@Model.Dexterity</button>
	</div>
	<!-- Inspiration-->
	<div class="col-md-6 text-center">
		<p class="text-uppercase mb-0">Inspiration</p>
		<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" /></svg>
		<button class="btn btn-secondary fs-3 fw-bold mb-3 ms-2" data-bs-toggle=" modal" data-bs-target="#exampleModal" ">@Model.Dexterity</button>
	</div>
</div>




<div class="accordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				STATISTICS
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body">
				<div class="row">

					<!--Strength-->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Strength (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#HitPointsModal">@Model.Strength</button>					
						<!-- Modal -->
						<div class="modal fade" id="StrengthModal" tabindex="-1" aria-labelledby="StrengthModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="StrengthModalLabel">Edit Strength</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateStrength" asp-route-id="@Model.CharacterID" method="post">
										@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Strength" class="form-label mt-3">Strength</label>
											<input id="Strength" name="strength" class="form-control mb-3" type="number" value="@Model.Strength" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Strength</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!--Dexterity -->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Dexterity (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#DexterityModal">@Model.Dexterity</button>
						<!-- Modal -->
						<div class="modal fade" id="DexterityModal" tabindex="-1" aria-labelledby="DexterityModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="DexterityModalLabel">Edit Dexterity</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateDexterity" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Dexterity" class="form-label mt-3">Dexterity</label>
											<input id="Dexterity" name="dexterity" class="form-control mb-3" type="number" value="@Model.Dexterity" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Dexterity</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!--Constitution-->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Constitution (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#ConstitutionModal">@Model.Constitution</button>
						<!-- Modal -->
						<div class="modal fade" id="ConstitutionModal" tabindex="-1" aria-labelledby="ConstitutionModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="ConstitutionModalLabel">Edit Constitution</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateConstitution" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Constitution" class="form-label mt-3">Constitution</label>
											<input id="Constitution" name="constitution" class="form-control mb-3" type="number" value="@Model.Constitution" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Constitution</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!--Intelligence-->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Intelligence (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#IntelligenceModal">@Model.Intelligence</button>
						<!-- Modal -->
						<div class="modal fade" id="IntelligenceModal" tabindex="-1" aria-labelledby="IntelligenceModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="IntelligenceModalLabel">Edit Intelligence</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateIntelligence" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Intelligence" class="form-label mt-3">Intelligence</label>
											<input id="Intelligence" name="intelligence" class="form-control mb-3" type="number" value="@Model.Intelligence" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Intelligence</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!--Wisdom-->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Wisdom (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#WisdomModal">@Model.Wisdom</button>
						<!-- Modal -->
						<div class="modal fade" id="WisdomModal" tabindex="-1" aria-labelledby="WisdomModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="WisdomModalLabel">Edit Wisdom</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateWisdom" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Wisdom" class="form-label mt-3">Wisdom</label>
											<input id="Wisdom" name="wisdom" class="form-control mb-3" type="number" value="@Model.Wisdom" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Wisdom</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!--Charisma-->
					<div class="col-md-4 text-center">
						<p class="text-uppercase mb-1">Charisma (+2)</p>
						<svg class="pb-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="black" d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4z" /></svg>
						<button class="btn btn-success fs-3 fw-bold mb-3 ms-2" data-bs-toggle="modal" data-bs-target="#CharismaModal">@Model.Charisma</button>
						<!-- Modal -->
						<div class="modal fade" id="CharismaModal" tabindex="-1" aria-labelledby="CharismaModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="CharismaModalLabel">Edit Charisma</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateCharisma" asp-route-id="@Model.CharacterID" method="post">
						@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Charisma" class="form-label mt-3">Charisma</label>
											<input id="Charisma" name="charisma" class="form-control mb-3" type="number" value="@Model.Charisma" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Charisma</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				Accordion Item #2
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body">
				<strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				Accordion Item #3
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			<div class="accordion-body">
				<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
</div>






@* <div class="accordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<!-- STATISTICS -->
		<h2 class="accordion-header" id="panelsStayOpen-headingOne">
			<button class="accordion-button text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				Statistics
			</button>
		</h2>
		<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
			<div class="accordion-body">
				<div class="row">
					<!-- Strength -->
					<div class="col-md-4 text-center">
						<p>
							<strong>Strength:</strong>
							<button class="btn btn-secondary fw-bold" data-bs-toggle="modal" data-bs-target="#StrengthModal">
					@Model.Strength
							</button>
							<strong>(+2)</strong>
						</p>

						<!-- Modal for Editing Strength -->
						<div class="modal fade" id="StrengthModal" tabindex="-1" aria-labelledby="StrengthModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="StrengthModalLabel">Edit Strength</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateStrength" asp-route-id="@Model.CharacterID" method="post">
					@Html.AntiForgeryToken()
										<input type="hidden" name="id" value="@Model.CharacterID" />
										<div class="modal-body">
											<label for="Strength" class="form-label mt-3">Strength</label>
											<input id="Strength" name="strength" class="form-control mb-3" type="number" value="@Model.Strength" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Strength</button>
										</div>
									</form>



								</div>
							</div>
						</div>
					</div>


					<!-- Dexterity -->
					<div class="col-md-4 text-center">
						<p>
							<strong>Dexterity : </strong>
							<button class="btn btn-secondary fw-bold" data-bs-toggle="modal" data-bs-target="#DexterityModal">
					@Model.Dexterity
							</button>
							<strong>(+2)</strong>
						</p>

						<!-- Modal for Editing Dexterity -->
						<div class="modal fade" id="DexterityModal" tabindex="-1" aria-labelledby="DexterityModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="DexterityModalLabel">Edit Strength</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form asp-controller="UpdateStatistic" asp-action="UpdateDexterity" asp-route-id="@Model.CharacterID" method="post">
					@Html.AntiForgeryToken()
										<div class="modal-body">
											<input type="hidden" name="id" value="@Model.CharacterID" />
											<label for="Strength" class="form-label mt-3">Dexterity</label>
											<input id="Dexterity" name="Dexterity" class="form-control mb-3" type="number" value="@Model.Dexterity" />
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Update Dexterity</button>
										</div>
									</form>


								</div>
							</div>
						</div>
					</div>

					<!-- Constitution -->
					<div class="col-md-4 text-center">
						<p><strong>Constitution : </strong><button class="btn btn-secondary fw-bold">@Model.Constitution</button> <strong>(+2)</strong> </p>
					</div>
				</div>

				<div class="row">
					<!-- Intelligence -->
					<div class="col-md-4 text-center">
						<p><strong>Intelligence : </strong><button class="btn btn-secondary fw-bold">@Model.Intelligence</button> <strong>(+2)</strong> </p>
					</div>

					<!-- Wisdom -->
					<div class="col-md-4 text-center">
						<p><strong>Wisdom : </strong><button class="btn btn-secondary fw-bold">@Model.Wisdom</button> <strong>(+2)</strong> </p>
					</div>

					<!-- Charisma -->
					<div class="col-md-4 text-center">
						<p><strong>Charisma : </strong><button class="btn btn-secondary fw-bold">@Model.Charisma</button> <strong>(+2)</p>
					</div>



				</div>



			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				Accordion Item #2
			</button>
		</h2>
		<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
			<div class="accordion-body">
				<strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>

	<div class="accordion-item">
		<h2 class="accordion-header" id="panelsStayOpen-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				Accordion Item #3
			</button>
		</h2>
		<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
			<div class="accordion-body">
				<strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
			</div>
		</div>
	</div>
</div> *@




@section Scripts {
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			setTimeout(function () {
				document.getElementById('loadingScreen').style.display = 'none';
				document.getElementById('characterContent').style.display = 'block';
			}, 2000); // 2000 milliseconds = 2 seconds
		});
	</script>
}

<style>
	.spinner {
		width: 120px;
		height: 120px;
		animation: spin 2s linear 0s 2; /* Adjust 2s for duration, 0s for delay, and 2 for the number of times it spins */
	}

	@@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
