@model CharacterSheetDnD.ViewModels.MyCharacterViewModel


@{
    ViewData["Title"] = "My Character";
}

<div id="loadingScreen" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: white; z-index: 99; display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <p>Loading your character...</p>
        <img src="~/images/dice-d20.png" alt="Loading..." class="spinner">
    </div>
</div>



<div style="display:none;" id="characterContent">
    <!-- Your character content goes here -->
    <div class="text-center">
        <h1 class="display-4">My Character</h1>
        <h3>Let the adventure begin!</h3>
    </div>
    <p><b>Name : </b>@Model.Name </p>
    <p><b>Race : </b>@Model.Race </p>
    <p><b>Character Class(es): </b></p>
    @if (Model.CharacterClasses != null)
    {
        <ul>
            @foreach (var characterClass in Model.CharacterClasses)
            {
                <li>@characterClass.Class - Level @characterClass.Level</li>
            }
        </ul>
    }

    <p><b>Strength : </b>@Model.Strength</p>
    <p><b>Dexterity : </b>@Model.Dexterity</p>
    <p><b>Constitution : </b>@Model.Constitution </p>
    <p><b>Intelligence : </b>@Model.Intelligence </p>
    <p><b>Wisdom : </b>@Model.Wisdom </p>
    <p><b>Charisma : </b>@Model.Charisma</p>
    <p><b>Maximum Hit Point: </b>@Model.MaximumHitPoints</p>

    <br />
    <!-- Only displaying the level-->
    <p><b>Level: </b> 
        @foreach(var characterLevel in Model.CharacterClasses)
        @characterLevel.Level
        </p>
   
</div>


@section Scripts {
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            setTimeout(function () {
                document.getElementById('loadingScreen').style.display = 'none';
                document.getElementById('characterContent').style.display = 'block';
            }, 2000); // 2000 milliseconds = 2 seconds
        });
    </script>
}

<style>
    .spinner {
        width: 120px;
        height: 120px;
        animation: spin 2s linear 0s 2; /* Adjust 2s for duration, 0s for delay, and 2 for the number of times it spins */
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
